<div class="col-auto">
    <a href="{{url_for('index')}}" class="btn btn-info">Calendar</a>
    <a href="{{url_for('table')}}" class="btn btn-info">Table</a>
    <a href="{{url_for('sym.add')}}" class="btn btn-info">Add symptom</a>
    <a href="{{url_for('esp.index')}}" class="btn btn-info">Specialities</a>
</div>