<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Symptoms Tracker{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="{{url_for('static', filename='tabulator/dist/css/tabulator.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='tabulator/dist/css/tabulator_bootstrap5.min.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='jquery/jquery-ui.css') }}">
        <script src="{{ url_for('static', filename='jquery/external/jquery/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery/jquery-ui.js') }}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='tabulator/dist/js/tabulator.min.js')}}"></script>
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Symptoms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('treats.index') }}">Treatments</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script>
        onload = () => {
            document.querySelectorAll("[class*=danger]").forEach(item => {
                item.onclick = () => {
                if (confirm("¿Seguro que quieres eliminarlo?") == false) {
                    return false
                }
                }
            });
        }
    </script>
</body>
</html>
