{% extends 'base.html' %}

{% block head %}
{{ super() }}
  <script src="{{url_for('static', filename='fullcalendar/index.global.min.js')}}"></script>
  <script src="{{url_for('static', filename='fullcalendar/es.global.js')}}"></script>
  <script src="{{url_for('static', filename='html2canvas.min.js')}}"></script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row mb-2">
    <h1>View Symptoms</h1>
    <hr>
  </div>
  <div class="row my-3">
    {% include '_partials/sym_menu.html' %}
  </div>
  <div class="row mb-2">
    <div class="col-auto">
      Speciality: 
    </div>
    <div class="col">
      <select class="form-select" name="esp" id="esp_select">
        <option selected>TODAS</option>
        {% for i in esp %}
          <option value="{{i.id}}">{{i.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-auto">
      <a class="btn btn-primary" href="#" id="print">Imprimir</a>
    </div>
  </div>
  <div class="row" id="scs">
    <div class="col">
      <div id="calendar"></div>
    </div>
  </div>
    <script>
        // inicializar el calendario
        var calendar = new FullCalendar.Calendar(document.getElementById("calendar"), {
          // configuración del calendario
          height: 'auto',
          locale: 'es',
          firstDay: 1,
          showNonCurrentDates: false,
          displayEventTime: false,
          eventDisplay: 'block',
          // dayMaxEventRows: 1,
          events: "{{url_for('api.get_symptoms', feed='calendar')}}",
          defaultTimedEventDuration: '00:01',
          dateClick: function(info) {
            calendar.changeView("listDay", info.dateStr)
          },
          eventClick: function(info) {
            location.href = '/edit/' + info.event.id;
          }
        });
        calendar.render();
    </script>
    <script>
      document.getElementById("esp_select").onchange = (e) => {
        if (e.target.value == 'TODAS') {
          calendar.setOption('events', "{{url_for('api.get_symptoms', feed='calendar')}}")

          } else {
          calendar.setOption('events', "{{url_for('api.get_symptoms', feed='calendar')}}" + `&esp=${e.target.value}`)
        }
      };
      document.getElementById("print").onclick = () => {
        var target = document.getElementById("scs");
        html2canvas(target).then(function(canvas) {
          var newWindow = window.open("");
          newWindow.document.body.append(canvas);
      });
      }
    </script>
    <style>
      .fc-event-time, .fc-event-title {
        padding: 0 1px;
        white-space: normal;
      }
    </style>
</div>
{% endblock %}