{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>
      
        {{"Edit" if row else "Add"}} 
        
        Symptom</h1>
      <hr>
    <form method="POST">
        <div class="form-group">
            <input type="hidden" name="symptom_id" value="{{row['symptom_id'] if row}}">
            <label for="symptom">Symptom:</label>
            <input type="text" class="form-control" name="symptom" id="symptom-input" value="{{ row['name'] if row}}" required>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="date">Date and time:</label>
                    <input type="datetime-local" class="form-control" name="datetime" value="{{ row['date'] if row}}" required>
                </div>
                <div class="col">
                    <div class="row">
                        <label for="date">Speciality:</label>
                    </div>
                    <div class="row">
                        <select class="form-select" name="esp">
                            <option selected="selected" disabled="disabled">Select one</option>
                            {% for i in esp %}
                                {% if row and i.id == row.esp_id %}
                                    <option value="{{i.id}}" selected>{{i.name}}</option>
                                {% else %}
                                    <option value="{{i.id}}">{{i.name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="desc">Description:</label>
            <textarea class="form-control" name="desc" id="symptom-desc">{{row['desc'] if row and row['desc']}}</textarea>
        </div>
        <div class="row form-group">
            <div class="col">
                <label class="form-label">Treatment:</label>
                <ul class="list-group">
                    {% if sel_treats|length > 0 %}
                    {% for i in sel_treats %}
                        <li class="list-group-item">{{i.desc}}{{ " (" + i.poso + ")" if i.poso}}</li>
                    {% endfor %}
                    {% else %}
                        <li class="list-group-item">No treatment assigned</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-auto">
                <label for="treats" class="form-label">Link a treatment</label>
            </div>
            <div class="col">
                <select class="form-select" name="treats" multiple>
                    {% for i in treats %}
                        <option value="{{i.id}}" {{"selected" if i.id in selected}}>{{i.desc}} ({{i.poso + ", " if i.poso}}{{i.start}}{{"-" + i.end if i.end}})</option>
                    {% endfor %}
                </select>
             </div>
        </div>
        <div class="row d-print-none">
            <div class="col">
                <button type="submit" class="btn btn-primary">Save</button>
                {% if row %}
                    <a class="btn btn-danger" href="{{url_for('sym.delete', id=row.id)}}">Delete</a>
                {% endif %}
            </div>
        </div>
    </form>
</div>

{% if not row %}
<script>
    // Obtener la lista de síntomas desde Flask
    var symptoms = {{ symptoms|tojson }};
  
    // Inicializar la función de autocompletado
    $(document).ready(function() {
      $('#symptom-input').autocomplete({
        source: symptoms
      });
    });
</script>
{% endif %}
{% endblock %}
