{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row my-3">
            <div class="alert alert-warning" role="alert">
                {{error}}
            </div>
    </div>
</div>
{% endblock %}