{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row mb-2">
        <h1>Specialities</h1>
        <hr>
    </div>
    <div class="row my-3">
        {% include '_partials/sym_menu.html' %}
      </div>
    <form method="POST" action="{{url_for('esp.add')}}">
        <div class="row form-group">
            <div class="col">
                <label for="symptom">Speciality:</label>
                <input type="text" class="form-control" name="name" id="symptom-input" value="{{ row['name'] if row}}" required>
            </div>
            <div class="col">
                <label for="symptom">Color:</label>
                <input type="text" class="form-control" name="color" value="{{ row['color'] if row}}" required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-auto"> 
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
    <div>
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Color</th>
                <th class="d-print-none">Options</th>
            </tr>
            <tbody>
                {% for i in esp %}
                    <tr>
                        <form action="{{url_for('esp.edit', id=i.id)}}" method="post">
                            <td>
                                <input type="hidden" name="id" value="{{i.id}}">
                                <input class="form-control" type="text" name="name" value="{{i.name}}">
                            </td>
                            <td>
                                <input type="text" class="form-control" name="color" value="{{i.color}}">
                            </td>
                            <td class="d-print-none">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <a class="btn btn-danger" href="{{url_for('esp.delete', id=i.id)}}">Delete</a>
                            </td>
                        </form>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}