{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Symptoms Tracker</h1>
    <hr>
    <p>Welcome to the Symptoms Tracker app. Please use the navigation menu above to add, view, or edit symptoms.</p>
</div>
{% endblock %}
