{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row mb-2">
        <h1>Medicines</h1>
        <hr>
    </div>
    <form method="POST" action="{{url_for('meds.add')}}">
        <p>Add a medicine</p>
        <div class="row mb-3 d-print-none">
            <div class="col">
                <input type="text" class="form-control" name="desc" required>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>

    <div class="row">
        <table class="table table-hover">
            <tr>
                <th>Description</th>
                <th class="d-print-none">Options</th>
            </tr>
            <tbody>
                {% for i in meds %}
                    <tr>
                        <form action="{{url_for('meds.edit', id=i.id)}}" method="post">
                            <td>
                                <input type="hidden" name="id" value="{{i.id}}">
                                <input class="form-control" type="text" name="desc" value="{{i.desc}}">
                            </td>
                            <td class="d-print-none">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <a class="btn btn-danger" href="{{url_for('meds.delete', id=i.id)}}">Delete</a>
                            </td>
                        </form>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}