{% extends 'base.html' %}

{% block head %}
{{ super() }}
  <link href="https://unpkg.com/tabulator-tables@5.4.4/dist/css/tabulator_bootstrap5.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.4.4/dist/js/tabulator.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
{% endblock %}

{% block content %}

<div class="container">
  <h1>View Symptoms</h1>
  <hr>

  <div class="row my-3">
    {% include '_partials/sym_menu.html' %}
  </div>

  <div id="symptoms-table"></div>


  <script>
    var table = new Tabulator("#symptoms-table", {
      placeholder:"Ningún dato registrado",
      layout:"fitColumns",
      groupBy:"name",
      groupStartOpen:false,
      groupToggleElement:"header",
      printAsHtml:true,
      columns:[
        {title:"Esp", field:"esp", sorter:"string", headerFilter:"input"},
        {title:"Symptom", field:"name", sorter:"string", headerFilter:"input"},
        {title:"Date", field:"date", sorter: "datetime", headerFilter: "input", sorterParams:{
            format:"iso"
        }, formatter: (cell) => {
            return new Date(cell.getValue()).toLocaleString();
        }},
        {title:"Description", field:"desc", formatter: "textarea", sorter:"string", headerFilter:"input"}, //, visible: false, print: true},
        {title:"Options", formatter:editDeleteButtons, hozAlign:"center", print: false}
      ],
      ajaxURL: "{{ url_for('api.get_symptoms', feed='table') }}"
    });
  
    // Función que devuelve los botones de editar y eliminar en la columna "Acciones"
    function editDeleteButtons(cell, formatterParams, onRendered){
      var id = cell.getRow().getData().id;
      return "<button class='btn btn-info btn-sm' onclick='editSymptom("+id+")'>Editar</button>" +
              "<button class='btn btn-danger btn-sm' onclick='deleteSymptom("+id+")'>Eliminar</button>";
    }
  
    // Función para editar un síntoma
    function editSymptom(id){
      window.location.href = "{{ url_for('sym.edit', id=0) }}".replace('0', id);
    }
  
    // Función para eliminar un síntoma
    function deleteSymptom(id){
      if(confirm("¿Está seguro que desea eliminar este síntoma?")){
        window.location.href = "{{ url_for('sym.delete', id=0) }}".replace('0', id);
      }
    }
  </script>
</div>
{% endblock %}
  