{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row mb-2">
        <h1>Treatments</h1>
        <hr>
    </div>
    <div class="row my-3">
        <a href="{{url_for('meds.index')}}" class="btn btn-info">Meds</a>
      </div>
    {% if row %}
        <h2>Edit treatment</h2>
        <form method="POST" action="{{url_for('treats.edit', id=row.id)}}">
    {% else %}
        <h2>Add a treatment</h2>
        <form method="POST" action="{{url_for('treats.add')}}">
    {% endif %}
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" name="med" placeholder="Medicine" id="meds-input" value="{{row.desc if row}}" required>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="poso" placeholder="Posology" value="{{row.poso if row}}">
                </div>
            </div>
            
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="date" class="col-form-label">Start:</label>
                    <input type="datetime-local" class="form-control" name="start" value="{{row.start if row}}" required>
                </div>
                <div class="col">
                    <label for="date" class="col-form-label">End:</label>
                    <input type="datetime-local" class="form-control" name="end" value="{{row.end if row}}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" name="obs" placeholder="Notes" value="{{row.obs if row}}">
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-auto">
                <label for="treats" class="form-label">Link symptoms</label>
            </div>
            <div class="col">
                <select class="form-select" name="symps" multiple>
                    {% for i in symps %}
                        <option value="{{i.id}}" {{"selected" if i.id in selected}}>{{i.name}} ({{i.date}})</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class=" row mb-3 d-print-none">
            <div class="col">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
    <script>
        // Obtener la lista de síntomas desde Flask
        var meds = {{ meds|tojson }};
      
        // Inicializar la función de autocompletado
        $(document).ready(function() {
          $('#meds-input').autocomplete({
            source: meds
          });
        });
    </script>
    <div>
        <div id="treats-table"></div>
        <script>
            var table = new Tabulator("#treats-table", {
                printAsHtml:true,
                groupBy:"desc",
                groupStartOpen:false,
                groupToggleElement:"header",
                layout:"fitDataStretch",
                placeholder:"Ningún dato visible",
                columns:[
                    {title:"Medicine", field: "desc", sorter:"string", headerFilter:"input", formatter: function(cell){
                        return ''
                    }},
                    {title:"Posology", field: "poso", sorter:"string", headerFilter:"input"},
                    {title:"Start", field: "start", sorter: "datetime", headerFilter: "input", sorterParams:{
                        format:"iso"}, formatter: (cell) => {
                            return new Date(cell.getValue()).toLocaleString();
                        }
                    },
                    {title:"End", field: "end", sorter: "datetime", headerFilter: "input", sorterParams:{
                        format:"iso"}, formatter: (cell) => {
                            if (cell.getValue() != "") {
                                return new Date(cell.getValue()).toLocaleString();
                            } else { return '' }
                        }
                    },
                    {title:"Obs", field: "obs", sorter:"string", headerFilter:"input"},
                    {title:"Options", formatter:editDeleteButtons, hozAlign:"center", print: false}
                ],
                ajaxURL:"{{url_for('treats.index')}}", //ajax URL
                ajaxConfig:"POST"
            })
            // Función que devuelve los botones de editar y eliminar en la columna "Acciones"
            function editDeleteButtons(cell, formatterParams, onRendered){
            var id = cell.getRow().getData().id;
            return "<button class='btn btn-info btn-sm' onclick='editTreat("+id+")'>Editar</button>" +
                    "<button class='btn btn-danger btn-sm' onclick='deleteTreat("+id+")'>Eliminar</button>";
            }
        
            // Función para editar un síntoma
            function editTreat(id){
            window.location.href = "{{ url_for('treats.edit', id=0) }}".replace('0', id);
            }
        
            // Función para eliminar un síntoma
            function deleteTreat(id){
            if(confirm("¿Está seguro que desea eliminar este síntoma?")){
                window.location.href = "{{ url_for('treats.delete', id=0) }}".replace('0', id);
            }
            }
        </script>
    </div>
</div>
{% endblock %}